<header
  class="fixed top-5 inset-x-0 flex max-w-7xl w-full justify-between items-center px-6 z-[9999] p-5 rounded-3xl bg-[#191F2866]/40 backdrop-blur-lg border border-white/10 h-24 mx-4 lg:mx-auto"
>
  <h1 class="text-2xl gradient-text-secondary">PaidaPlus</h1>
  <nav class="hidden lg:block">
    <ul
      class="flex gap-4 [&_a]:text-white [&_a]:hover:underline [&_a]:text-base"
    >
      <li><a href="#how-it-works">Как работает</a></li>
      <li><a href="#quests">Квесты</a></li>
      <li><a href="#advantages">Преимущества</a></li>
    </ul>
  </nav>
  <div class="flex gap-3">
    <a
    href="#contact"
    class="px-6 py-4 rounded-full font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 bg-secondary text-white"
  >
    Оставить заявку
  </a>
  <a
    href="https://console.paidaplus.kz/login"
    target="_blank"
    referrerpolicy="no-referrer"
    class="px-6 py-4 rounded-full font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 bg-primary text-white hidden md:inline-block"
  >
    Зайти в портал
  </a>
  </div>
</header>
