<section
  id="how-it-works"
  class="py-24 pb-32 bg-[#0a1628] relative overflow-hidden"
>
  <div
    class="absolute top-0 left-0 right-0 h-40 bg-linear-to-b from-[#0a1628] via-[#0a1628]/80 to-transparent pointer-events-none z-20"
  >
  </div><div class="absolute inset-0 opacity-30">
    <div
      class="absolute top-20 right-20 w-96 h-96 rounded-full blur-[120px]"
      style="background: radial-linear(circle, rgb(0, 100, 255) 0%, transparent 70%);"
    >
    </div><div
      class="absolute bottom-20 left-20 w-96 h-96 rounded-full blur-[120px]"
      style="background: radial-linear(circle, rgb(0, 60, 159) 0%, transparent 70%);"
    >
    </div>
  </div><div
    class="absolute inset-0 opacity-[0.03]"
    style="background-image: linear-linear(rgb(0, 100, 255) 1px, transparent 1px), linear-linear(90deg, rgb(0, 100, 255) 1px, transparent 1px); background-size: 50px 50px;"
  >
  </div><div class="max-w-7xl mx-auto px-4 relative z-50">
    <div class="text-center mb-8">
      <h2 class="mb-6">
        <span class="text-white">В чем </span><span
          class="bg-linear-to-r from-[#0064FF] to-[#00a3ff] bg-clip-text text-transparent"
          >особенность?</span
        >
      </h2>
      <p>Простой цикл для клиентов</p>
    </div>

    <div class="grid lg:grid-cols-2 gap-20 items-center">
      <div class="space-y-6">
        <div
          class="group relative p-6 rounded-3xl bg-white/5 backdrop-blur-xl border border-white/10 hover:border-[#0064FF]/50 transition-all hover:shadow-[0_0_40px_rgba(0,100,255,0.3)]"
        >
          <div class="flex items-start gap-4">
            <div
              class="flex-shrink-0 w-12 h-12 rounded-xl bg-linear-to-br from-[#0064FF] to-[#003C9F] flex items-center justify-center shadow-[0_0_20px_rgba(0,100,255,0.4)]"
            >
              <span class="text-white text-lg">1</span>
            </div><div class="flex-1">
              <div class="flex items-center gap-3 mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-target w-5 h-5 text-[#0064FF]"
                  aria-hidden="true"
                  ><circle cx="12" cy="12" r="10"></circle><circle
                    cx="12"
                    cy="12"
                    r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg
                ><h3 class="text-[20px] text-white">Задаёт задание</h3>
              </div><p class="text-gray-400  leading-relaxed">
                Бизнес создаёт квест с целевым действием и наградой
              </p>
            </div>
          </div><div
            class="absolute left-[42px] top-[80px] w-[2px] h-6 bg-linear-to-b from-[#0064FF]/50 to-transparent"
          >
          </div>
        </div><div
          class="group relative p-6 rounded-[24px] bg-white/5 backdrop-blur-xl border border-white/10 hover:border-[#0064FF]/50 transition-all hover:shadow-[0_0_40px_rgba(0,100,255,0.3)]"
        >
          <div class="flex items-start gap-4">
            <div
              class="flex-shrink-0 w-12 h-12 rounded-xl bg-linear-to-br from-[#0064FF] to-[#003C9F] flex items-center justify-center shadow-[0_0_20px_rgba(0,100,255,0.4)]"
            >
              <span class="text-white text-lg">2</span>
            </div><div class="flex-1">
              <div class="flex items-center gap-3 mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-rocket w-5 h-5 text-[#0064FF]"
                  aria-hidden="true"
                  ><path
                    d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z"
                  ></path><path
                    d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z"
                  ></path><path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0"
                  ></path><path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"
                  ></path></svg
                ><h3 class="text-[20px] text-white">Выполняет задание</h3>
              </div><p class="text-gray-400  leading-relaxed">
                Клиент видит квесты и выполняет интересные действия
              </p>
            </div>
          </div><div
            class="absolute left-[42px] top-[80px] w-[2px] h-6 bg-linear-to-b from-[#0064FF]/50 to-transparent"
          >
          </div>
        </div><div
          class="group relative p-6 rounded-[24px] bg-white/5 backdrop-blur-xl border border-white/10 hover:border-[#0064FF]/50 transition-all hover:shadow-[0_0_40px_rgba(0,100,255,0.3)]"
        >
          <div class="flex items-start gap-4">
            <div
              class="flex-shrink-0 w-12 h-12 rounded-xl bg-linear-to-br from-[#0064FF] to-[#003C9F] flex items-center justify-center shadow-[0_0_20px_rgba(0,100,255,0.4)]"
            >
              <span class="text-white text-lg">3</span>
            </div><div class="flex-1">
              <div class="flex items-center gap-3 mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-trending-up w-5 h-5 text-[#0064FF]"
                  aria-hidden="true"
                  ><path d="M16 7h6v6"></path><path d="m22 7-8.5 8.5-5-5L2 17"
                  ></path></svg
                ><h3 class="text-[20px] text-white">Получает баллы</h3>
              </div><p class="text-gray-400  leading-relaxed">
                Система автоматически начисляет баллы за выполнение
              </p>
            </div>
          </div><div
            class="absolute left-[42px] top-[80px] w-[2px] h-6 bg-linear-to-b from-[#0064FF]/50 to-transparent"
          >
          </div>
        </div><div
          class="group relative p-6 rounded-[24px] bg-white/5 backdrop-blur-xl border border-white/10 hover:border-[#0064FF]/50 transition-all hover:shadow-[0_0_40px_rgba(0,100,255,0.3)]"
        >
          <div class="flex items-start gap-4">
            <div
              class="flex-shrink-0 w-12 h-12 rounded-xl bg-linear-to-br from-[#0064FF] to-[#003C9F] flex items-center justify-center shadow-[0_0_20px_rgba(0,100,255,0.4)]"
            >
              <span class="text-white text-lg">4</span>
            </div><div class="flex-1">
              <div class="flex items-center gap-3 mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-trophy w-5 h-5 text-[#0064FF]"
                  aria-hidden="true"
                  ><path
                    d="M10 14.66v1.626a2 2 0 0 1-.976 1.696A5 5 0 0 0 7 21.978"
                  ></path><path
                    d="M14 14.66v1.626a2 2 0 0 0 .976 1.696A5 5 0 0 1 17 21.978"
                  ></path><path d="M18 9h1.5a1 1 0 0 0 0-5H18"></path><path
                    d="M4 22h16"></path><path
                    d="M6 9a6 6 0 0 0 12 0V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"
                  ></path><path d="M6 9H4.5a1 1 0 0 1 0-5H6"></path></svg
                ><h3 class="text-[20px] text-white">Тратит баллы</h3>
              </div><p class="text-gray-400  leading-relaxed">
                Клиент использует баллы для покупок в вашем бизнесе
              </p>
            </div>
          </div>
        </div>
      </div><div class="relative h-[600px] rounded-[30px] overflow-hidden">
        <div class="absolute inset-0 p-8">
          <svg class="absolute inset-0 w-full h-full" style="z-index: 1;"
            ><defs
              ><linearlinear id="pathlinear" x1="0%" y1="0%" x2="100%" y2="100%"
                ><stop offset="0%" stop-color="#0064FF" stop-opacity="0.8"
                ></stop><stop
                  offset="100%"
                  stop-color="#00a3ff"
                  stop-opacity="0.3"></stop></linearlinear
              ></defs
            ><line
              x1="25%"
              y1="30%"
              x2="65%"
              y2="25%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 0s;"></line><line
              x1="65%"
              y1="25%"
              x2="45%"
              y2="55%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 0.5s;"></line><line
              x1="45%"
              y1="55%"
              x2="75%"
              y2="65%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 1s;"></line><line
              x1="75%"
              y1="65%"
              x2="20%"
              y2="70%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 1.5s;"></line><line
              x1="20%"
              y1="70%"
              x2="55%"
              y2="40%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 2s;"></line><line
              x1="55%"
              y1="40%"
              x2="25%"
              y2="30%"
              stroke="url(#pathlinear)"
              stroke-width="2"
              stroke-dasharray="5,5"
              opacity="0.4"
              class="animate-pulse"
              style="animation-delay: 2.5s;"></line></svg
          ><div
            class="absolute"
            style="left: 25%; top: 30%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-0"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF]/60 shadow-[0_0_15px_rgba(0,100,255,0.4)]"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-gray-100 text-gray-600"
            >
              Ресторан
            </div>
          </div><div
            class="absolute"
            style="left: 65%; top: 25%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-0"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF]/60 shadow-[0_0_15px_rgba(0,100,255,0.4)]"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-gray-100 text-gray-600"
            >
              Кафе
            </div>
          </div><div
            class="absolute"
            style="left: 45%; top: 55%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-75"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF] shadow-[0_0_30px_rgba(0,100,255,0.8)] scale-150"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-[#0064FF] text-white shadow-[0_0_20px_rgba(0,100,255,0.6)]"
            >
              Салон
            </div>
          </div><div
            class="absolute"
            style="left: 75%; top: 65%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-0"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF]/60 shadow-[0_0_15px_rgba(0,100,255,0.4)]"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-gray-100 text-gray-600"
            >
              Магазин
            </div>
          </div><div
            class="absolute"
            style="left: 20%; top: 70%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-0"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF]/60 shadow-[0_0_15px_rgba(0,100,255,0.4)]"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-gray-100 text-gray-600"
            >
              Фитнес
            </div>
          </div><div
            class="absolute"
            style="left: 55%; top: 40%; transform: translate(-50%, -50%); z-index: 2;"
          >
            <div
              class="absolute inset-0 rounded-full border-2 border-[#0064FF] animate-ping opacity-0"
              style="width: 60px; height: 60px; left: 50%; top: 50%; transform: translate(-50%, -50%); animation-duration: 2s;"
            >
            </div><div
              class="relative w-4 h-4 rounded-full transition-all duration-500 bg-[#0064FF]/60 shadow-[0_0_15px_rgba(0,100,255,0.4)]"
            >
              <div class="absolute inset-[2px] rounded-full bg-white/30"></div>
            </div><div
              class="absolute top-6 left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-1 rounded-lg text-xs transition-all duration-500 bg-gray-100 text-gray-600"
            >
              Сервис
            </div>
          </div><div class="absolute inset-0" style="z-index: 0;">
            <div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 89.4358%; top: 1.23652%; animation-delay: 0.817388s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 64.7622%; top: 19.1344%; animation-delay: 1.45728s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 29.8137%; top: 61.9333%; animation-delay: 1.33609s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 62.5059%; top: 37.4574%; animation-delay: 2.55863s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 74.879%; top: 9.80843%; animation-delay: 2.52849s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 33.0641%; top: 23.6739%; animation-delay: 2.34671s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 60.9216%; top: 15.2597%; animation-delay: 2.61486s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 79.5395%; top: 43.6468%; animation-delay: 0.998077s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 31.4666%; top: 84.4453%; animation-delay: 2.6694s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 59.1877%; top: 37.5495%; animation-delay: 1.33856s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 42.5628%; top: 34.6527%; animation-delay: 2.67558s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 53.333%; top: 44.0678%; animation-delay: 1.28418s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 41.9635%; top: 47.8904%; animation-delay: 2.76067s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 3.98176%; top: 81.7321%; animation-delay: 0.699961s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 3.21448%; top: 18.562%; animation-delay: 0.174178s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 91.2646%; top: 35.753%; animation-delay: 1.07865s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 23.1894%; top: 83.9445%; animation-delay: 1.00764s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 4.12031%; top: 3.93292%; animation-delay: 0.317108s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 52.3957%; top: 18.4871%; animation-delay: 0.177792s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 70.3348%; top: 9.51746%; animation-delay: 2.07864s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 62.4787%; top: 69.3623%; animation-delay: 1.90283s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 53.4626%; top: 98.5016%; animation-delay: 2.3227s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 6.81601%; top: 11.3559%; animation-delay: 2.49075s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 13.4334%; top: 47.1159%; animation-delay: 1.04951s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 91.6117%; top: 55.5724%; animation-delay: 0.435616s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 64.3383%; top: 26.3037%; animation-delay: 2.68479s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 30.0889%; top: 98.1192%; animation-delay: 2.31472s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 40.7165%; top: 7.41278%; animation-delay: 1.36481s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 82.3167%; top: 95.024%; animation-delay: 0.334294s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 51.3071%; top: 51.1726%; animation-delay: 1.29587s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 82.6883%; top: 89.7116%; animation-delay: 1.55497s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 65.7644%; top: 60.2836%; animation-delay: 0.234061s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 94.73%; top: 54.355%; animation-delay: 0.896767s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 30.2037%; top: 51.203%; animation-delay: 0.593393s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 24.0092%; top: 96.0548%; animation-delay: 1.5258s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 36.6144%; top: 31.8801%; animation-delay: 1.1899s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 68.054%; top: 99.3533%; animation-delay: 0.510128s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 93.6358%; top: 44.7813%; animation-delay: 1.64721s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 6.52393%; top: 70.1142%; animation-delay: 1.09588s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 39.5156%; top: 69.3117%; animation-delay: 1.32368s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 83.5952%; top: 93.9892%; animation-delay: 1.86321s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 50.6194%; top: 14.9212%; animation-delay: 2.23088s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 38.214%; top: 10.2641%; animation-delay: 2.98473s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 90.5363%; top: 25.8225%; animation-delay: 2.54209s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 72.6959%; top: 24.1384%; animation-delay: 2.20366s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 53.4203%; top: 41.4886%; animation-delay: 2.31612s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 72.9762%; top: 47.5482%; animation-delay: 0.508236s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 44.0668%; top: 32.0633%; animation-delay: 2.2624s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 36.7842%; top: 16.0665%; animation-delay: 0.0181809s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 9.24967%; top: 0.100302%; animation-delay: 0.423851s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 99.0694%; top: 75.1602%; animation-delay: 1.58877s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 61.0695%; top: 27.4715%; animation-delay: 0.37293s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 8.22878%; top: 61.4137%; animation-delay: 0.296192s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 36.7478%; top: 74.2801%; animation-delay: 1.97125s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 8.0563%; top: 48.2119%; animation-delay: 2.84645s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 93.4947%; top: 54.0495%; animation-delay: 1.51349s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 87.4262%; top: 31.2967%; animation-delay: 2.15647s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 0.465177%; top: 71.4214%; animation-delay: 2.31853s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 87.2733%; top: 99.54%; animation-delay: 1.26016s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 59.3934%; top: 96.9622%; animation-delay: 1.41523s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 94.5374%; top: 90.9404%; animation-delay: 2.05001s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 81.309%; top: 1.16982%; animation-delay: 2.5249s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 49.8186%; top: 52.6245%; animation-delay: 1.27592s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 17.4046%; top: 56.5156%; animation-delay: 0.570765s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 5.29794%; top: 69.5987%; animation-delay: 1.36505s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 61.4614%; top: 65.6726%; animation-delay: 0.446261s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 15.8464%; top: 59.501%; animation-delay: 0.0942277s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 24.3487%; top: 31.0839%; animation-delay: 2.1284s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 48.4105%; top: 51.5454%; animation-delay: 2.82377s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 46.3154%; top: 81.2026%; animation-delay: 1.32817s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 74.1699%; top: 83.4535%; animation-delay: 2.72048s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 51.8904%; top: 54.6051%; animation-delay: 1.01984s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 13.2723%; top: 34.9148%; animation-delay: 2.14648s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 82.438%; top: 79.8828%; animation-delay: 2.63197s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 67.5359%; top: 80.4355%; animation-delay: 1.15158s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 31.1378%; top: 37.2083%; animation-delay: 0.392944s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 55.1779%; top: 51.8761%; animation-delay: 0.0109613s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 94.2241%; top: 84.6107%; animation-delay: 0.711152s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 70.6386%; top: 2.23504%; animation-delay: 0.637891s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 60.5865%; top: 33.6946%; animation-delay: 1.1513s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 81.5688%; top: 6.94676%; animation-delay: 2.46223s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 21.592%; top: 63.8376%; animation-delay: 0.347052s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 48.7574%; top: 45.621%; animation-delay: 2.8377s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 41.6379%; top: 16.8575%; animation-delay: 0.0511967s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 34.4268%; top: 18.131%; animation-delay: 1.05083s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 58.9828%; top: 70.5597%; animation-delay: 2.93561s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 10.3767%; top: 35.8847%; animation-delay: 1.50428s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 74.3414%; top: 91.2789%; animation-delay: 0.473332s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 60.9284%; top: 19.7914%; animation-delay: 2.95549s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 26.8016%; top: 2.61839%; animation-delay: 0.870027s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 66.8829%; top: 84.7093%; animation-delay: 0.697058s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 40.7109%; top: 42.4397%; animation-delay: 1.54255s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 82.535%; top: 21.0794%; animation-delay: 0.556306s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 85.5969%; top: 99.2233%; animation-delay: 1.03164s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 27.7269%; top: 55.1417%; animation-delay: 1.94091s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 55.9148%; top: 90.5989%; animation-delay: 2.00758s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 72.962%; top: 89.6371%; animation-delay: 0.0132781s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 45.8422%; top: 77.6629%; animation-delay: 0.812219s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 25.4774%; top: 21.3148%; animation-delay: 1.72326s;"
            >
            </div><div
              class="absolute w-1 h-1 rounded-full bg-[#0064FF]/20"
              style="left: 76.4502%; top: 49.1563%; animation-delay: 2.14423s;"
            >
            </div>
          </div><div
            class="absolute top-10 right-10 w-32 h-32 rounded-full opacity-20 blur-[80px]"
            style="background: radial-linear(circle, rgb(253, 255, 168) 0%, transparent 70%);"
          >
          </div>
        </div><div
          class="absolute bottom-0 left-0 right-0 p-6 bg-linear-to-t from-[#0a1628]/95 via-[#0a1628]/85 to-transparent"
          style="z-index: 3;"
        >
          <div class="grid grid-cols-3 gap-4">
            <div class="text-center">
              <div class="text-2xl text-[#0064FF] mb-1">150+</div><div
                class="text-xs text-gray-400"
              >
                Активных бизнесов
              </div>
            </div><div class="text-center">
              <div class="text-2xl text-[#0064FF] mb-1">12,500+</div><div
                class="text-xs text-gray-400"
              >
                Выполненных квестов
              </div>
            </div><div class="text-center">
              <div class="text-2xl text-[#0064FF] mb-1">98%</div><div
                class="text-xs text-gray-400"
              >
                Удовлетворённость
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="absolute bottom-0 left-0 right-0 h-40 bg-linear-to-t from-[#0a1628] via-[#0a1628]/80 to-transparent pointer-events-none z-20"
  >
  </div>
</section>
