@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

@theme inline {
  --color-primary: #0a1628;
  --color-secondary: #0064ff;
}

h2 {
  @apply text-5xl text-center text-white;
}

p {
  @apply text-base text-white/80;
}

.gradient-text {
  background: linear-gradient(180deg, #0064ff 0%, #00a3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-text-secondary {
  background: linear-gradient(180deg, #0064ff 0%, #fdffa8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: float-slow 3s ease-in-out infinite;
}

.animate-journey {
  animation: journey 10s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes journey {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.journey-avatar {
  position: absolute;
  bottom: 2rem; /* старт у дома */
  left: 12%;
}

.animate-journey {
  animation: journey-move 14s ease-in-out infinite;
}

@keyframes journey-move {
  /* Дом */
  0%,
  8% {
    transform: translate(0, 0);
  }

  /* Подарок */
  20%,
  28% {
    transform: translate(120px, -70px);
  }

  /* Звезда */
  40%,
  48% {
    transform: translate(230px, -140px);
  }

  /* Трофей */
  60%,
  68% {
    transform: translate(330px, -200px);
  }

  /* Кафе */
  84%,
  100% {
    transform: translate(430px, -260px);
  }
}
